@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Quicksand&display=swap');
@font-face {
    font-family:FuentePrincipal;
    src: url(../Font/Deep\ Shadow.ttf);
}


*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: FuentePrincipal;
    font-size: xx-large;
    padding-bottom: 15px;
    color: aliceblue;
    text-align: center;
}

h2,h6,a{
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
}

h2{
    color: aliceblue;
    text-align: center;
}

h3{
    font-family: FuentePrincipal;
    font-size: large;
    color: rgb(0, 0, 0); 
    line-height: 27px;
}

h4{
    font-family: FuentePrincipal;
    font-size: large;
    color: rgb(0, 0, 0);
}

h5{
    font-family: FuentePrincipal;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

h6{
    color: aliceblue;
}

a,p{
    text-decoration: none;
    color: rgb(52, 1, 70);
}

body{

    min-height: 100vh;
}

.NavPrincipal{
    position: fixed;
    font-family: 'Fjalla One', sans-serif;
    z-index: 3;
    width: 100vw;
    background-color: rgb(241, 241, 241);
}


#Botonera li a{
    color: rgb(52, 1, 70);
    border-radius: 8px;
}

#Botonera li a:hover{
    background: linear-gradient(171deg, rgba(253,29,162,1) 4%, rgba(131,58,180,1) 37%, rgba(35,6,54,1) 69%);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s;

}

.navbarItsTheBest{
    display: flex;
    align-items: center;
}

.logoTexto{
    font-family: FuentePrincipal;
    font-size: large;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    margin-left: 6px;
}

.logo{
    height: 45px;
    width: 45px;
}

.contenedor{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(253,29,162);
    background: linear-gradient(171deg, rgba(253,29,162,1) 4%, rgba(131,58,180,1) 37%, rgba(35,6,54,1) 69%);
}

.contenedorTextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    padding-top: 5%;
}

.wave{
    position: absolute;
    width: 54%;
    height: 100vh;
    top: 5px;
    margin-left: 581.48px;
    
}

.contenedorImagen{
    z-index: 1;

}

.principalIncognito{
    width: 50%;
    height: 100%;
    padding-top: 15%;
    margin-left: 160px;
}

.botonesPrincipales{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.botonJugar{        
    border-radius: 8px;
    width: 230px;
    height: 60px;
    margin-bottom: 20px;
    border-color: transparent;
}

.botonSecundarios{
    border-radius: 8px;
    height: auto;
    width: 210px;
    border-color: transparent;
}

.botonSecundarios:hover, .botonJugar:hover{
    background: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s;
}

.contenedor2{
        height: 100vh;
        width: auto;
        position: relative;
        
}

.card{
    margin-top: 100px;
    width: 26%;
    height: 310px;
    padding: 15px;
    border-color: white;
}

.imagenMain{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.cardMainTexto{ 
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.svgMain1{
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.wave2{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.card:hover .imagenMain {-webkit-transform:scale(1.4);transform:scale(1.2);
    transition: all 0.5s;}


.fondo{
    height: 110vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(253,29,162);
    background: linear-gradient(171deg, rgba(253,29,162,1) 4%, rgba(131,58,180,1) 37%, rgba(35,6,54,1) 69%);
}

.fondoContacto{
    height: 120vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(35,6,54,1);
}

.imagenContacto{
    transform: rotate(16deg);
    margin-top: -480px;
    margin-left: 720px;
    width: 32%;
    height: 45%;
}

.juego{
    height: 94vh; 
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7008928571428572);
    border-radius: 1rem;
}

.contenedorJuegoPrincipal{
    position: absolute;
    width: 240px;
    height: 300px;
    background: linear-gradient(transparent 5%, #ffffff);;
    border-radius: 1rem;
    margin-top: -210px;
    margin-left: 469px;
}

.cajaMenu{
    position: relative;
    width: 990px;
    height: 525px;
    background: linear-gradient(transparent 5%, #ffffff);;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.botonDefault{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: transparent;
}

.botonDefault:hover{
    background: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s;
}

.tamañoPlayMuteMenu{
    position: absolute;
    margin-left: 300px;
    margin-top: 50px;
    width: 45px;
    height: 45px;
    background: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
    border-radius: 1rem;
    border-color: transparent;
    color: transparent;

}

.tamañoPlayMuteJuego{
    position: absolute;
    margin-left: 44.4vw;
    margin-top: 17.5vh;
    width: 43px;
    height: 43px;
    background: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
    border-radius: 1rem;
    border-color: transparent;
    color: transparent;
}

.playMuteFinal{
    position: absolute;
    margin-left: 7.9vw;
    margin-top: 25.4vh;
    width: 43px;
    height: 43px;
    background: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
    border-radius: 1rem;
    border-color: transparent;
    color: transparent;   
}

.boxBotonesMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.imagenMenu{
    position: relative;
    width: 160px;
    height: 170px;
    margin-top: -50px;
    z-index: 1;

}

.cardElementos{
    position: relative;
    margin: 10rem;
    margin-bottom: 46vh;
    width: 21vw;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 2rem;
}

.cardElementosGanador{
    position: relative;
    width: 21vw;
    height: 349px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 2rem;
    margin-right: 120px;
    margin-left: 85px;
}

.cardEspera{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.1vw;
    height: 402px;
    border-radius: 1rem;
    margin-left: -1023.5px;
    background-color: rgb(228, 228, 228);
    z-index: 2;
}

.imgElementos{
    position: absolute;
    width: 281px;
    height: 400px;
    border-radius: 1rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.imgElementosGanador{
    position: absolute;
    width: 281px;
    height: 350px;
    border-radius: 1rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.transparentTitulos{
    position: absolute;
    width: 281px;
    height: 400px;
    border-radius: 1rem;
    background: linear-gradient(transparent 70%, #ffffff);
    z-index: 1;
}

.transparentTitulosGanador{
    position: absolute;
    width: 281px;
    height: 400px;
    border-radius: 1rem;
    background: linear-gradient(transparent 70%, #ffbe62d0);
    z-index: 1;
}

.textoGanador{
    position: absolute;
    text-align: center;
    margin-top: -193px;
    margin-left: 225px;
}

.textoElementos{
    position: absolute;
    text-align: center;
    font-size: medium;
    padding-bottom: 7px;
    padding-inline: 10px;
    z-index: 2;
}

.logoCENTROJuego{
    position: absolute;
    width: 40%;
    height: 40%;
    margin-top: -55px;

}

.esMejorQue{
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.rondas{
    position: absolute;
    margin-top: -30px;
    margin-left: 517.5px;
}
 
.BotonCandidatos{
    position: absolute;
    margin-top: 26px;
    margin-left: 513px;
    background: linear-gradient(171deg, rgba(253,29,162,1) 4%, rgba(131,58,180,1) 37%, rgba(35,6,54,1) 69%);
    border-radius: 1rem;
}

.btnContinuar{
    margin-left: -2px;
    margin-top: 104px;
}

.candidatos{
    position: absolute;
    width: 700px;
    height: 90px;
    margin-top: 170px;
    margin-left: 242px;
    border-radius: 1rem;
    background: #ffffffab;
}

.titulosSmall{
    font-size: small;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    color: aliceblue;
}

.titulosLg{
    position: absolute;
    font-size: x-large;
    margin-top: -28px;
    color: aliceblue;
    z-index: 2;
}

.cajasCandidatos{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: rgba(66, 62, 62, 0.733);
}

.imagenCandidatoSeleccion{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 1rem;
}   

.candidatoUno{
    position: absolute;
    margin-left: 89px;
    margin-top: 14px;
    z-index: 2;
}

.candidatoDos{
    position: absolute;
    margin-left: 242px;
    margin-top: 14px;
    z-index: 2;
}

.candidatoTres{
    position: absolute;
    margin-left: 394.5px;
    margin-top: 14px;
    z-index: 2;
}

.candidatoCuatro{
    position: absolute;
    margin-left: 547px;
    margin-top: 14px;
    z-index: 2;
}

.cuadroFinal{
    position: absolute;
    width: 240px;
    height: 300px;
    background: linear-gradient(transparent 5%, #ffbe62);;
    border-radius: 1rem;
    margin-top: -120px;
}

.logoCENTROFinal{
    position: absolute;
    width: 135%;
    height: 120%;
    margin-top: -195px;
}

.cajaFinal{
    position: absolute;
    width: 700px;
    height: 90px;
    margin-top: 428px;
    margin-left: 5px;
    border-radius: 1rem;
    background: #ffbe62ad;
    border-style: solid;
    border-color: linear-gradient(15deg, rgba(71,244,251,1) 0%, rgba(120,123,241,1) 44%, rgba(204,1,255,1) 84%, rgba(232,0,227,1) 100%);
}

.cuadroTiempo{
    position: absolute;
    font-family: FuentePrincipal;
    font-size: large;
    margin-left: -43px;
    margin-top: -10px;
    padding: 1.5rem;
    border-radius: 1rem;
    background:rgba(222, 218, 114, 0.655)
}

.footer{
    width: 100%;
    height: 18vh;
    background-color: rgba(0,0,0);
}

.leterFooter{
    font-size: x-small;
    text-align: center;
    margin-top: 6px;
}

.cardTres{
    position: absolute;
    margin-top: -420px;
    margin-left: -588.5px;
}

.cardCuatro{
    position: absolute;
    margin-top: -418px;
}

.cardGanador{
    position: absolute; 
    margin-top: 200px;
}

.puntaje{
    margin-left: 22%;
    margin-bottom: 150%;
}

.puntos{
    font-size: xx-large;
    margin-left: 353px;
    margin-top: 110px;

}

.continuarFinal{
    margin-left: -30%;
    margin-top: 45%;
    border-color: aliceblue;
}

.borde{
    border-radius: 1rem;
    padding: 15px;
}

.coronaFinal{
    position: absolute;
    transform: rotate(32deg);
    width: 45%;
    height: 120%;
    margin-top: -236px;
    margin-left: 158px;
    z-index: 1;
}

.swal2-title {
    font-family: FuentePrincipal;
    font-size: x-large !important;
    margin-bottom: 10px !important;
  }
  
  .swal2-container{
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
  
  .swal2-confirm {
    background-color: rgb(117, 208, 218) !important;
  }

  .swal2-input {
    text-align: center;
  }